* {
    margin: 0;
    padding: 0;
}

.wrapperGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    column-gap: 16px;
}

.wrapper {
    grid-template-columns: 1fr 1fr;
    height: 400px;
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid var(--LidsBlue);
    border-radius: 5px;
    background: var(--LidsGrey);
    overflow-y: auto;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    scrollbar-gutter: stable;
}

.wrapper input:focus:not([type='date']) {
    transition: 300ms ease-in-out;
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="number"]{
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background: var(--LidsWhite);
    width: 274px;
    color: black;
}

input[type="text"]:focus {
    outline: none;
}

.controls {
    display: grid;
    grid-template-columns: 1fr .5fr;
    margin: 15px auto;
    width: 100%;
    border-bottom: 3px solid var(--LidsBlue);
    border-radius: 3px;
}
.controlButtons {
    display: flex;
    justify-content: end;
}

#remove_fields {
    float: right;
}
.controls a i.fa-minus {
    margin-right: 5px;
}

.controlButtons a {
    color: black;
    text-decoration: none;
    margin-left: 16px;
}
.controlButtons img {
    width: 32px;
    height: 32px;
}
.controls h2 {
    display: inline;
    font-size: 30px;
    margin: 0;
    padding: 0 0 5px;
}


/* Houses all color variables for page color palette */
:root {
    --LidsBlue: #001E4E;
    --LidsGrey: #D9D9D9;
    --LidsWhite: white;
}

.search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
}
.search-icon:hover, .controlButtons img:hover {
    transition: 300ms ease-in-out;
    transform: scale(1.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 40%;
}
img {
    user-select: none;
}
.controlButtons img:hover {
    transform: scale(1.1);
}

#search-bar{
    margin: 0 auto;
    height: 25px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    border-radius: 15px;
}:focus{
     border: 1px solid #008ABF;
     transition: 0.35s ease;
     color: #008ABF;
 }::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
      opacity: 0;
  }
::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
}



.search-icon{
    position: relative;
    float: right;
    width: 32px;
    height: 32px;
    top: -40px;
}
.search-icon:hover {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}




button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

.topContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
.topContainer input, .topContainer p, .topContainer select {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 125px;
    background-color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
}

.centerText {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .wrapperGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: auto;
    }
    #search-bar {
        width: 400px;
    }
    .search-icon{
        position: relative;
        float: right;
        width: 32px;
        height: 32px;
        top: -40px;
        right: 44px;
    }
    .containerNonHome {
        height: 100%;
    }
}
@media screen and (max-height: 768px) {
    .containerNonHome {
        height: 100%;
    }
}