:root {
    --LidsBlue: #001E4E;
    --LidsGrey: #D9D9D9;
    --LidsWhite: white;
}


.Block1, .Block2 {
     align-items: center;
     justify-content: center;
     height: 300px;
     width: 80%;
 }
.Block1 form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(300px, 100%/3)), 1fr));
    width: 80%;
    padding: 16px;
    max-width: 1280px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: #001E4E;
    color: #D9D9D9;
}
.Block1 label {
    padding-left: 10px;
}
.Block1 .formelement {
    display: grid;
    grid-template-columns: .5fr 1fr;
}
.Block1 .SubmitForm {
    grid-row-end: 1000;
    grid-column: 1;
}

.uploadBtn {
    width: auto;
}

.queryButton {
    width: 150px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: var(--LidsGrey);
    background-color: var(--LidsWhite);
    color: var(--LidsBlue);
}

.queryButton:hover {
    background-color: var(--LidsBlue);
    border-color: var(--LidsWhite);
    color: var(--LidsWhite);
    cursor: pointer;
}

.clearQuery {
    width: 150px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: var(--LidsGrey);
    background-color: var(--LidsWhite);
    color: var(--LidsBlue);
}


.clearQuery:hover {
    background-color: var(--LidsBlue);
    border-color: var(--LidsWhite);
    color: var(--LidsWhite);
    cursor: pointer;
}









.manualSKUForm {
    align-items: center;
    justify-content: center;
    width: 80%;
}
.manualSKUForm form {
    width: auto;
    padding: 16px;
    max-width: 1280px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--LidsBlue);
    color: var(--LidsWhite);
}
.manualSKUForm label {
    padding-left: 10px;
}
.manualSKUForm .formelement {
    display: grid;
    grid-template-columns: .5fr 1fr;
}
.manualSKUForm label {
    text-align: left;
}
.manualSKUForm input, .manualSKUForm select {
    margin: 0 auto;
    height: 25px;
}

.uploadBtn {
    width: auto;
}

.containerNonHome, .manualSKUForm {
    overflow: auto;
}

.PZ\&Cost, .misc, .materialContainer, .demo, .keywordContainer, .vendorContainer, .productDetails, .shippingContainer, .logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--LidsGrey);
    width: 80%;
    height: auto;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 5px auto;
    color: black;
    overflow: auto;
}
.keywordContainer, .vendorContainer, .logo, .demo {
    grid-template-columns: 1fr;
    width: 35%;
}
.vendorContainer, .keywordContainer {
    width: 400px;
}
.materialContainer {
    grid-template-rows: repeat(3, 1fr);
}
.PZ\&Cost {
    width: 500px;
}
.PZ\&Cost input {
    width: 100px;
}


.mat\&Percent {
    grid-column: 1;
    display: flex;
}

.color {
    grid-column: 2;
    grid-row: 1;
}
.size {
    grid-column: 2;
    grid-row: 2;
}
.manualSKUForm select, .vendorContainer input {
    width: 250px;
}
.manualSKUForm select, .manualSKUForm input {
    margin-bottom: 8px;
}
.productDetails select, .misc select {
    width: 300px;
}
.mat\&Percent input:not(.percent), .productDetails input, .misc input, .shippingContainer input, .demo input {
    width: 300px;
}
.mat\&Percent input:is(.percent){
    width: 50px;
}

.group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}
.group .vendorContainer, .group .keywordContainer {
    width: auto;
}
.threeGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    margin: 0 auto;
    padding-right: 20px;
    width: 80%;
    overflow: auto;
}
.containLogoDemo {
    grid-column: 2;
    grid-row: 1;
}

.threeGroup > .mat\&Percent {
    grid-column: 1;
    grid-row: 1 / 2;
}
.threeGroup .demo, .threeGroup .logo, .threeGroup .mat\&Percent {
    width: 400px;
}
.SubmitForm {
    text-align: center;
}
.SubmitForm input {
    width: 200px;
    height: 40px;

}