:root {
    --LidsBlue: #001E4E;
    --LidsGrey: #D9D9D9;
    --LidsWhite: white;
}


.Block1, .Block2 {
     align-items: center;
     justify-content: center;
     height: 300px;
     width: 80%;
 }
.Block1 form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(300px, 100%/3)), 1fr));
    width: 80%;
    padding: 16px;
    max-width: 1280px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: #001E4E;
    color: #D9D9D9;
}
.Block1 label {
    padding-left: 10px;
}
.Block1 .formelement {
    display: grid;
    grid-template-columns: .5fr 1fr;
}
.Block1 .SubmitForm {
    grid-row-end: 1000;
    grid-column: 1;
}

.uploadBtn {
    width: auto;
}

.queryButton {
    width: 150px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: var(--LidsGrey);
    background-color: var(--LidsWhite);
    color: var(--LidsBlue);
}

.queryButton:hover {
    background-color: var(--LidsBlue);
    border-color: var(--LidsWhite);
    color: var(--LidsWhite);
    cursor: pointer;
}

.clearQuery {
    width: 150px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: var(--LidsGrey);
    background-color: var(--LidsWhite);
    color: var(--LidsBlue);
}


.clearQuery:hover {
    background-color: var(--LidsBlue);
    border-color: var(--LidsWhite);
    color: var(--LidsWhite);
    cursor: pointer;
}





.manualSKUForm {
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 80%;
}
.manualSKUForm form {
    width: auto;
    padding: 16px;
    max-width: 1280px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--LidsBlue);
    color: var(--LidsWhite);
}
.manualSKUForm label {
    padding-left: 10px;
}
.manualSKUForm .formelement {
    display: grid;
    grid-template-columns: .5fr 1fr;
}


.uploadBtn {
    width: auto;
}


.PZ\&Cost, .mat\&Percent {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
