/* Houses all color variables for page color palette */
:root {
    --LidsBlue: #001E4E;
    --LidsGrey: #D9D9D9;
    --LidsWhite: white;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: var(--LidsBlue);
}



a {
    position: relative;
    text-decoration: none;
}


/* Main content stylings */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 160px);
    
    background-color: var(--LidsGrey);
    margin-left: auto;
    margin-right: auto;
}
.containerNonHome {
    display: flex;
    align-items: normal;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 160px);

    background-color: var(--LidsGrey);
    padding-top: 32px;
    margin-left: auto;
    margin-right: auto;
}
.home-main {
    width: 80%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(300px, 100%/3)), 1fr));
}

/* Styling for portal boxes */
.portal {
    background-color: var(--LidsBlue);
    width: 280px;
    height: 80px;
    text-align: center;
    color: var(--LidsWhite);
    border-radius: 5px;
    margin: 15px auto;
    display: grid;
    grid-template-columns: .25fr 1fr;
    user-select: none;

    transition: 300ms ease-in-out;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.portal:hover {
    transition: 0ms;
    transform: translateY(-5px);
}
.portal a {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.portal img {
    height: 60px;
}
.portal a:link, .portal a:visited, .portal a:active, .portal a:hover {
    color: var(--LidsWhite);
}
.portal:hover {
    opacity: .75;
}


/* Sticky footer code */
body {
    min-height: 100vh;
}
#footer {
    position: sticky;
    display: flex;
    top: 100%;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 15px;
}


/* Fixes display flex issue at small viewports.. 
When height decreased, flex items need to change to 
block or items will overflow upwards and not be visible */
@media screen and (max-height: 400px) {
    .container {
        align-items: normal;
        height: auto;
    }
}

@media screen and  (max-height: 800px) and (max-width: 800px){
    .container {
        align-items: normal;
    }
}

@media screen and (max-height: 820px) {
    .container {
        height: 100%;
    }
}
