body {
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #D9D9D9;
}

nav {
    position: relative;
    top: 0;
    left: 0;
}
.navgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    padding-bottom: 16px;
}

a {
    position: relative;
    text-decoration: none;
}
nav a:link, nav a:visited, nav a:active, nav a:hover {
    color: white;
}
/* Refers only to navigation links and not LIDS image to underline on hover */
nav ul a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    border: 1px solid white;
    transition: 300MS ease-in-out;
}

/* NEEDS TO CENTER VERTICALLY STILL */
nav img {
    display: flex;
    align-items: center;
    width: 200px;
    grid-column: 1;
}

.itemcontainer {
    display: block;
}
nav h1 {
    text-align: left;
    font-size: 1.25em;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: left;
}

nav li {
    padding-right: 20px;
}


nav, #footer {
    color: white;
    background-color: #001E4E;
    width: auto;
    padding: 10px 10px 0px 10px;
}

.main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}



.ButtonLayout {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
}


/* 
        ERROR BOX AND ITEM UPLOAD
*/
.Error {
    display: grid;
    grid-template-columns: 1fr .5fr .25fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.Error .error {
    background-color: aquamarine;
}
.Error img {
    width: 50px;
    height: auto;
    grid-column: 4;
    grid-row: 1;
}

.ButtonLayout input, .Error input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
}

#footer {
    clear: both;
    height: 40px;
}

